@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: "Poppins", sans-serif;
}

h1, h2 {
  font-family: "Domine", serif;
}

.card-custom-top-right {
  border-top-right-radius: 52px 40px;
}


.bg-dot-fade {
  background-color: #fff;
  background-image: 
    radial-gradient(circle, #d1d5db 0.6px, transparent 1.2px),
    linear-gradient(to right, #fff 80%, rgba(255,255,255,0.1) 95%, rgba(255,255,255,0) 100%);
  background-size: 18px 18px, 100% 100%;
  background-position: 0 0, 0 0;
}



.card-custom-top-right {
  border-top-right-radius: 50px 32px;
}



